.header{
    width: 1200px;
    height: 60px;
    display: inline-flex;
    justify-content: space-evenly;
    }
.logo{
    font-size: 50px;
    display: flex;
    align-items: center;
}
.logo span{
    color: blue;
}
.navigation{
    display: flex;
    align-items: center;
    
}
.button{
    border: none;
    background: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 20px 20px;
    margin: 10px;
}
.button_1{
    border: none;
    background: blue;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
}
.button:hover{
    background: blue;
    color: red;
}
.button_1:hover{
    background: red;
    color: black;
}
.line{
    width: 1200px;
    border-bottom: 2px solid blue;
}
.content{
    width: 1200px;
    background: wheat;
    display: flex;
    justify-content: center;
    }
.content_mini{
    width: 990px;
    }
.rubric{
    font-size: 30px;
    text-align: center;
    
}
.rubric__text{
    text-align: center;
     }

.section{
    display: flex;
    justify-content: center;
    
}
.article_1,.article_2,.article_3{
    width: 30%;
    height: 400px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.article_1{
    background: green;
    color: white;
}
.article_2{
    background: blue;
    color: white;
}
.article_3{
    background: orange;
    color: white;
}
.section button{
    border: none;
    color: white;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: large;   
    }
.article_1 button{
    background: greenyellow;
}
.article_2 button{
    background: rgb(74, 98, 206);
}
.article_3 button{
    background: greenyellow;
}
.section button:hover{
    background: red;
    color: black;
}
.rubric__text_2{
    text-align: center;
    padding: 0px 50px;
}
.article_4,.article_5{
    width: 35%;
    height: 550px;
    background: white;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;}
.section img{
    width: 80%;
    height: 250px;
    border-radius: 50%;
}    
.text{
    color:red;
    font-size: larger;
}

.main{
    width: 1200px;
    display: flex;
}
.main__text{
    width: 65%;
    padding: 30px;
}
.main img{
    width: 100%;
    height: 280px;
}
.main__img{
    width: 35%;
    height: 100%;
    margin: 50px;

}
.main button{
    background: greenyellow;
    padding: 15px;
    border-radius: 5px;
    border: none;
}
.main a{
    text-decoration: none;
    color: red;
}
.main button:hover{
    background: blue;
    
}
.gallery{
    width: 1200px;
    border: 2px solid black;
    
}
.collage{
    width: 90%;
    height: 100%;
    border: 2px solid red;
    margin: 60px;
    display: inline-flex;
    }
.collage_1{
    width: 70%;
    height: 25%;
    border: 2px solid red;
   

}
.collage_1 img{
    width: 100%;
}
.collage_2{
    height: 50%;
    display:inline-flex ;
}
.collage_2 img{
    height: 50%;
}
.collage_3{
    width: 30%;
    border: 2px solid red;
    display: block;
    justify-content: end;

}    
.collage_3 img{
    width: 100%;
}
.collage img{
    
}
.panel{
    width: 1200px;
    height: 300px;
    background-image: url(https://bipbap.ru/wp-content/uploads/2017/04/0_7c779_5df17311_orig.jpg);
    background-size: 100%;
    color: white;
    padding: 10px 20px;
}
.panel button{
    padding: 10px 15px; 
    background: #11897d;
    color: #fff; 
    border: 1px solid #fff; 
    border-radius: 5px; 
}
.foter{
    border: 2px solid red;
    padding: 20px 15px;
    
}
.foter img{
    width: 70%;
    height: 400px;
    
    
}